.header-container {
    position: relative;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 80px;
    background-color: #0d0423;
  
  }
  
  .logo{
    height: 90px;
  }
  
  /* Hamburger Button Styles */
  .hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
  }
  
  .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #9a90dc;
    transition: all 0.3s ease;
  }
  
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  
  /* Sidebar Styles */
  .sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: rgb(81, 114, 166);
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar.open {
    right: 0;
  }
  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
  }
  
  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .close-button svg {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  
  .sidebar-content {
    padding: 4rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: larger;
    color: #ffffff;
  }
  
  .sidebar-content button {
    padding: 1rem 2rem;
    background-color: #ffffff00;
    border: none;
    border-radius: 4px;
    font-weight: 100;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .sidebar-content button:hover {
    background-color: #b4aaff78;
  }
  /* Info Bar Styling */
  .info-bar {
    background-color: #5E35B1; /* Dark Purple */
    color: #D1C4E9;
    padding: 10px;
  }
  
  .marquee {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee-content {
    display: inline-block;
    padding-right: 100%;
    font-size: larger;
    animation: scroll 30s linear infinite; /* Reduced scrolling speed */
  }
  
  @keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .marquee-item {
    padding-right: 50px;
  }
  .sidebar-button {
    color: #D1C4E9; /* Light purple text */
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #3948ab02; /* Deep purple */
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-button:hover {
    background-color: #5e35b104; /* Darker purple on hover */
  }
  