/* Overall page styling */
.calendar-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Full-page gradient background */
.calendar-container {
  flex: 1;
  background: linear-gradient(to bottom right, #a7c6ed, #d6c2e0); /* Light blue to light purple gradient */
  color: #333; /* Dark text for contrast */
  font-family: Arial, sans-serif;
  padding-top: 20px; /* Space for navbar */
  height: 100vh; /* Or another value that fits your design */
  overflow-y: auto;
}

/* Minimalistic calendar styling */
.rbc-calendar {
  border: none; /* Remove border for a cleaner look */
}

/* Event styling */
.event {
  background-color: #000000; /* Lighter blue for events */
  color: #ffffff; /* White text for contrast */
  font-size: 0.9em; /* Slightly smaller font */
  padding: 4px; /* Reduced padding */
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  box-shadow: none; /* Remove shadow for minimalism */
  transition: transform 0.1s;
}

.event:hover {
  transform: scale(1.03); /* Slight zoom on hover */
}

/* Modal styling */
.event-details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff; /* White background for modal */
  color: #333; /* Dark text for contrast */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  z-index: 1000; /* Ensure modal is above other elements */
}

.close-button {
  background: #e57373; /* Light red close button */
  color: rgb(62, 0, 0);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  font-size: larger;
  right: 10px;
}

.close-button:hover {
  background: #ef5350; /* Darker red on hover */
}

/* Tooltip styling */
.tooltip {
  background-color: #333; /* Dark background for tooltip */
  color: #fff; /* White text */
  padding: 5px;
  border-radius: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .event {
    font-size: 0.8em; /* Smaller font on mobile */
  }
}
.event-details-modal img.event-poster {
  width: 600px;
  height: auto;
  margin: 30px 30px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.register-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #5d61a2; /* Matches the theme */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.register-link:hover {
  background-color: #4b4f98; /* Slightly lighter on hover */
}
