.navbar {
  background-color: #011222; /* Navy background */
  color: #FFF5E6; /* Cream text */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
}


.logo{
  width: 310px;
  height: 130px;
  z-index: 1;
}

.nav-buttons button {
  background-color: #fff5e610; /* Cream background */
  color: #84c1ff; /* Navy text */
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5em;
}

.nav-buttons button:hover {
  background-color: #f0e5d200; /* Lighter cream on hover */
  cursor: pointer;
}
/* Hamburger menu icon */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 30px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .nav-buttons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 51, 102, 0.955); /* Opaque navy-blue background */
    width: 100%;
    padding: 20px 0;
    gap: 20px;
    z-index: 10;
    border-radius: 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.004); /* A border to separate from the navbar */
  }

  .nav-buttons.active {
    display: flex;
  }

  .nav-buttons button {
    width: 60%; /* Better sizing for mobile view */
    margin: 0 auto;
    padding: 15px 20px; /* Slightly larger padding for mobile */
    background-color: #5900ff00; /* Violet for mobile buttons */
    font-size: 1.2rem;
    border-radius: 10px;

  }

  .nav-buttons button:hover {
    background-color: #4311a6; /* Darker violet on hover */
  }

  .hamburger {
    display: flex;
  }
}