.navbar {
  background-color: #011222; /* Navy background */
  color: #FFF5E6; /* Cream text */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
}


.logo{
  width: 310px;
  height: 130px;
  z-index: 1;
}

.nav-buttons button {
  background-color: #fff5e610; /* Cream background */
  color: #84c1ff; /* Navy text */
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5em;
}

.nav-buttons button:hover {
  background-color: #f0e5d200; /* Lighter cream on hover */
  cursor: pointer;
}
